{% extends 'accounts/base.html' %}
{% load staticfiles %}


{% block content %}
<body>
      <div class="topnav" id="myTopnav">

              </a>
      </div>

      <div id="formulario">{% csrf_token %}
            <form action="" method="post">{% csrf_token %}
                    <h3 class="mb-4">Añadir Crédito</h3>
                    <form>
                         <div class="col-sm-3">
                            <h4>Identificación del cliente</h4>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Identificación del cliente">
                         </div>
                         <div class="col-sm-3">
                            <h4>Valor</h4>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Valor">
                         </div>
                        <div class="col-sm-3">
                                <div class="form-group">
                                <h4>Número de cuotas</h4>
                                <select class="form-control" id="exampleSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>4</option>
                                <option>8</option>
                                <option>16</option>
                                <option>32</option>

                                 </select>
                            </div>
                         </div>
                        <br>
                        <div class="col-sm-3">
                        <p><input type="submit" class="btn btn-primary btn-lg" value="Confirmar"></p>
                         </div>
                    </form>

            </form>
        </div>
</body>


{% endblock %}